<template id="image-input-template">
    <div class="Image-input">
        <div class="image-wrapper">
            <i v-show="! imageSrc" class="icon fa fa-picture-o"></i>
            <img v-show="imageSrc" class="image" :src="imageSrc">
        </div>

        <div class="input-wrapper btn btn-default btn-sm">
            Обрати нове фото
            <input @change="previewThumbnail" class="input" :name="name" type="file">
        </div>
    </div>
</template>

<script>
    export default {
        props: [ 'imageSrc', 'name' ],

        methods: {
            previewThumbnail: function(event) {
                var input = event.target;

                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    var vm = this;

                    reader.onload = function(e) {
                        vm.imageSrc = e.target.result;
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }
        }
    }
</script>

