<template>
    <span>
        <span>
            {{ show_phone }}
        </span>
        <div class="small show-phone-action" v-show="show_phone != phone" @click="show_phone = phone">
            показати
        </div>
    </span>
</template>

<script>
    export default {
        props: ['phone'],
        data() {
            return {
                show: false,
                show_phone: "(0XX) XXX-XX-XX",
            }
        },
        ready() {
            
                            
        },
    }
</script>
