<template>
    <div>
        <div class="row ">
            <div class="col-md-3">
                <label>Ціна (грн)</label>
            </div>
            <div class="col-md-6">
                <label>Опис</label>
            </div>
        </div>
        <div
            v-for="(price, index) in list"
        >
            <div class="row margin-bottom-10">
                <div class="col-md-3">
                    <input type="number" v-bind:name="'prices['+index+'][price]'" v-model="price.price" class="form-control input-sm" placeholder="800" required>
                </div>
                <div class="col-md-6">
                    <input type="text" v-bind:name="'prices['+index+'][title]'" v-model="price.title" class="form-control input-sm" required placeholder="Двомісний номер, 1 особа">                      

                </div>
                <div class="col-md-1">
                    <span class="fui-trash cursor-pointer small" style="line-height: 2.3;" @click='deletePrice(price)' v-show='list.length > 1'></span>
                </div>
            </div>


        </div>
        <a v-bind:class="'btn btn-default '+validation_error" @click="addPrice()">
            <span class="fui-plus" ></span> 
        </a>

        
    </div>


</template>




<script>
    export default {

        props: ['list_json'],

        data: function(){
            return {
                count: 0,
                list: [],
                newPrice: {'price': '', 'title': ''},
            };
        },

        created: function(){
            if (this.list_json)
                this.list = JSON.parse(this.list_json);
            else
                this.addPrice();
        },
        ready:function(){
            
        },

        computed: {
            validation_error: function () {
                // `this` points to the vm instance
                var a = this.list.filter(function (item) {
                    return (!item.price != '');
                });
                if (a.length) return 'disabled';
                return null;
            }
            

        },

        methods: {

            deletePrice: function (index) {
                
                this.list = this.list.filter(function (item) {
                    return item != index; 
                })

                //Vue.delete(this.list, key);
            },

            addPrice: function () {
                this.list.push({'price': '', 'description': ''});
            },

        }
    }
</script>
