<template>
    <div class="margin-top-20">

        <div
            v-for="(item, index) in list"
        >
            <div class="row margin-bottom-10">
                <div class="col-xs-9">

                    <input type="text" v-bind:name="name + '['+index+'][title]'" v-model="item.title" class="form-control input-sm" required>
                </div>
                <div class="col-xs-2">
                    <span class="fui-trash cursor-pointer small" style="line-height: 2.3;" @click='deleteDay(item)' v-show='list.length > 1'></span>
                </div>
            </div>


        </div>
        <div class="row margin-bottom-10">
            <div class="col-md-8">
                <a v-show="!validation_error" class="btn btn-default" @click="addDay(item)">
                    <span class="fui-plus" ></span>
                </a>
                <a v-show="validation_error" class="btn btn-default disabled">
                    <span class="fui-plus" ></span>
                </a>

            </div>
        </div>

    </div>

</template>




<script>
    export default {

        props: ['list_json', 'name', ],

        data: function(){
            return {
                count: 0,
                list: [],
            };
        },

        created: function(){
            if (this.list_json)
                this.list = JSON.parse(this.list_json);
            else
                this.addDay();
        },
        ready:function(){
            
        },

        computed: {

            validation_error: function () {
                // `this` points to the vm instance
                var a = this.list.filter(function (item) {
                    return (!item.title);
                });
                //if (a.length) return 'disabled';
                return a.length;
            }

        },

        methods: {

            deleteDay: function (index) {
                
                this.list = this.list.filter(function (item) {
                    return item != index; 
                })
            },

            addDay: function () {
                this.list.push({'title': ''});
            },

        }
    }
</script>
