<template>
    <div>
        <div class="row ">
            <div class="col-md-3">
                <label>Назва дня</label>
            </div>
            <div class="col-md-8">
                <label>Опис</label>
            </div>
        </div>
        <div
            v-for="(day, index) in list"
        >
            <div class="row margin-bottom-10">
                <div class="col-md-3">
                    <input type="text" v-bind:name="'program['+index+'][title]'" v-model="day.title" class="form-control input-sm" v-bind:placeholder="'День '+(index + 1)" required>
                </div>
                <div class="col-md-8">
                    <textarea rows="6" v-bind:name="'program['+index+'][description]'" v-model="day.description" class="form-control input-sm" placeholder="Приклад: В цей день ми будемо розважатися по повній!" required>                      
                    </textarea>
                </div>
                <div class="col-md-1">
                    <span class="fui-trash cursor-pointer small" style="line-height: 2.3;" @click='deleteDay(day)' v-show='list.length > 1'></span>
                </div>
            </div>
            
                
                    
            


        </div>
        <div class="row margin-bottom-10">
            <div class="col-md-offset-3 col-md-8">
                <a v-bind:class="'btn btn-default '+validation_error" @click="addDay()">
                    <span class="fui-plus" ></span> Додати день
                </a>

            </div>
        </div>

    </div>

</template>




<script>
    export default {

        props: ['list_json'],

        data: function(){
            return {
                count: 0,
                list: [],
                newDay: {'title': '', 'description': ''},
            };
        },

        created: function(){
            if (this.list_json)
                this.list = JSON.parse(this.list_json);
            else
                this.addDay();
        },
        ready:function(){
            
        },

        computed: {

            validation_error: function () {
                // `this` points to the vm instance
                var a = this.list.filter(function (item) {
                    return ((!item.title) || (!item.description));
                });
                if (a.length) return 'disabled';
                return null;
            }

        },

        methods: {

            deleteDay: function (index) {
                
                this.list = this.list.filter(function (item) {
                    return item != index; 
                })

                //Vue.delete(this.list, key);
            },

            addDay: function () {
                this.list.push({'title': null, 'description': null});
            },

        }
    }
</script>
