//
// Fonts file
//
// Allocated area for font definitions used by this application
//

@font-face {
    font-family: 'PT Sans';
    src: 
         url('../fonts/PT_Sans-Web-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: 
         url('../fonts/PT_Sans-Web-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sego UI';
    src: 
         url('../fonts/segoeuib.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sego UI';
    src: 
         url('../fonts/segoeui.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


/*@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-italic-webfont.eot');
    src: url('../fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-italic-webfont.svg#latoitalic') format('svg'),
         url('../fonts/lato-italic-webfont.woff') format('woff'),
         url('../fonts/lato-italic-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}*/





//
// Chrome exhibits strange behavior when custom fonts are used
// on select inputs. This fixes the garbled text.
//
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {
        font-family: sans-serif;
    }
}