//
// Mixins file
//
// Space for any custom mixins used by this application
//
.margin-top-20{	margin-top:20px;}
.margin-bottom-20{	margin-bottom:20px;}
.margin-left-20{	margin-left:20px;}
.margin-right-20{	margin-right:20px;}

.margin-top-40{	margin-top:40px;}
.margin-bottom-40{	margin-bottom:40px;}
.margin-left-40{	margin-left:40px;}
.margin-right-40{	margin-right:40px;}


.extra-small{
	.small;
	font-size: 70%;
}

.padding-bottom-40{	padding-bottom:40px;}
.padding-bottom-60{	padding-bottom:80px;}
.padding-bottom-60{	padding-bottom:80px;}

.padding-40{
	padding:40px!important;
	@media (max-width:  @screen-xs-max) {
        padding:20px!important;
    }
}

.container.text{
	max-width: 760px;
}
.color-gray{
	color: @gray;
}

.shadow-1{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	background: white;
	&.container{
		.padding-40;
	}
	&.hover{
		.transition(.25s);
		&:hover{
			box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		}

	}
}

.layout-title{
	background-color: @color-top;
    padding-top: 20px;
    padding-bottom: 90px;
    margin-bottom: -60px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}