//
// Pages
//
// Styles specific to individual pages.
//

@import "home";
@import "one-tour";
@import "catalog";
@import "page-home";
@import "tour-form";
@import "page-me";

.page-samples-pricing-table {
    .pricing-tiles {
        padding: 40px 0 50px 0;
    }
}
.hoverable{
    transition: box-shadow 0.25s ease;
    &:hover {
      transition: box-shadow .25s;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

}
.hoverable-img {
    img{
      transition: box-shadow 0.25s ease;
    }
    &:hover img {
      transition: box-shadow .25s;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
.z-depth-1{
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.text-right{
    text-align: right;
}


.block-20,.block-40{
    padding: 20px;
    background: white;
    margin-bottom:20px;

    .block-label{
        margin-left:-20px;
        margin-right:-20px;
        margin-top:-20px;
        background: mix(#dce0e0, white, 70%);
        padding: 20px 10px;
        
        text-align: center;
        margin-bottom: 20px;
    }
}
.block-40{
    padding: 40px;
}

.border-1{
    border: 1px solid #dce0e0;
}

thead{
    td{
        font-weight: bold;
    }
}


.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
    margin-right:0;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: white;
}



.breadcrumb{
    margin-top: 8px;
    margin-bottom: 8px;
}

.dropdown-menu{
    a{ cursor: pointer;}
}

.login-field-icon {
    color: #bfc9ca;
    font-size: 16px;
    position: absolute;
    right: 15px;
    top: 3px;
    -webkit-transition: all .25s;
    transition: all .25s;
}




.truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cursor-pointer{
    cursor: pointer;
}

[v-cloak] {
  display: none;
}

select.form-contol{
    -webkit-appearance: yes!important; 
}

.bold{
    font-weight: bold;
}

.radius-5{border-radius:5px;}
.radius-10{border-radius:10px;}

.padding-20{padding:20px;}

.white{background: white;}

.margin-top-0{margin-top:0px;}
.margin-top-10{margin-top:10px;}
.margin-top-20{margin-top:20px;}
.margin-top-30{margin-top:30px;}
.margin-top-40{margin-top:40px;}

.margin-bottom-0{margin-bottom:0px;}
.margin-bottom-10{margin-bottom:10px;}
.margin-bottom-20{margin-bottom:20px;}
.margin-bottom-30{margin-bottom:30px;}
.margin-bottom-40{margin-bottom:40px;}