

.card{
    
    max-width: auto;
    
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;

    .href{
        position: relative;
        img{
            width: 100%;
            min-height: 270px;
        }

        .card-title{
            position: absolute;
            bottom:0;
            background: none;
            color: white;
            z-index: 1;
            font-size: 22px;
            padding: 10px 20px;
            color: white;
        }

        .shadow{
            background: url("/images/shadow1.png");
            height:60px;
            width:100%;
            background-repeat: repeat-x;
            position: absolute;
            bottom:0;
            z-index: 0;
        }

        .date{
            position: absolute;
            bottom: -14px;
            right: 20px;
            background: fade(@btn-primary-active-bg, 80%); 
            color: white;
            padding: 5px 10px;
            border-radius: @border-radius-base;
        }
    }
    .company{
        position: absolute;
        top:5px;
        right:5px;
        font-size: 10px;
        padding: 10px;
       

        background: fade(@btn-primary-active-bg, 30%); 
        border-radius: @border-radius-base;
        a{
            color:white;
        }
    }
    .card-body{
        padding:20px;
        background: white;
        p{
            font-size: 14px;
            min-height: 75px;
            max-height: 75px;
        }
        .price{
            font-size: 21.5px;
            background-color: #f2f387;
            color: @brand-primary;
        }
        .options{
            
            font-size: 75%;
            line-height: 1.5;
            max-height: 36px;
            min-height: 36px;
            overflow: hidden;
            margin-bottom: 10px;

        }
    }
    
}

.filter{
    margin-bottom: 40px;
    
    .filter-group{
        @media (min-width:  @screen-md-min) {
            display: inline-block;
            margin-right: 40px;
        }
        
        .filter-button{
            border: 1px solid @gray;
            padding: 5px 20px;
            border-radius: 20px;
            display: inline-block;
            margin-bottom: 10px;
            &:hover, &.active{
                background: @gray;
                color: white;
            }
            .fui-cross.small{
                line-height: 100%;
            }
        } 
    }

    .select{
        .dropdown-menu{
            overflow-y: auto;
            max-height: 300px;
            
            &::-webkit-scrollbar {
              width: 6px;
              height: 6px;
            }
            &::-webkit-scrollbar-button {
              width: 0px;
              height: 0px;
            }
            &::-webkit-scrollbar-thumb {
              background: #e1e1e1;
              border: 0px none #ffffff;
              border-radius: 50px;
            }
            &::-webkit-scrollbar-thumb:hover {
              background: #ffffff;
            }
            &::-webkit-scrollbar-thumb:active {
              background: #000000;
            }
            &::-webkit-scrollbar-track {
              background: #666666;
              border: 0px none #ffffff;
              border-radius: 50px;
            }
            &::-webkit-scrollbar-track:hover {
              background: #666666;
            }
            &::-webkit-scrollbar-track:active {
              background: #333333;
            }
            &::-webkit-scrollbar-corner {
              background: transparent;
            }

            .badge {
                color:@brand-primary;
                font-weight: normal;
            }

        }
    }

    
}
