@price-color:             @brand-secondary;

.page-one-tour{
	.content{
		.title{
			margin-bottom: 30px;
			h1{
				font-size:47px;
				margin-top:0;
				margin-bottom:0px;
			}
			h3{
				margin-top:0;
				margin-bottom:0px;
			}
		}
		.order-block{
			ul, li{
				list-style: none;
			}
			.big{
			    padding: .2em .6em .3em;
			    font-size: 75%;
			    font-weight: bold;
			    line-height: 1;
			    color: #ffffff;
			    text-align: center;
			    white-space: nowrap;
			    vertical-align: baseline;
			    border-radius: .25em;
			    display: block;
			    &.price, &.order{
					font-size: 32px;
				}
				&.order{
					font-size: 29px;
					padding-bottom: 0.45em;
					padding-top: 0.35em;
				}
				&.price{
					padding-bottom: 0.5em;
					padding-top: 0.07em;
					cursor: pointer;
					position: relative;
					text-align: right;
					
					background: @price-color;
					@media (max-width:  @screen-xs-max) {
			            text-align: left;
			        }
					.transition(.25s);
					&:hover{
						background: mix(@price-color, white, 85%);
					}
					.caret{
						border-bottom-color: white;
						border-top-color: white;
						border-width: 10px 8px;
					}
					.description{
						position: absolute;
						right: 45px;
						bottom:15px;
						font-size: 12px;
						font-weight: normal;
						max-width: 75%;
						@media (max-width:  @screen-xs-max) {
				            left: 20px;
				        }
					}
					.caret {
					    margin-left: 0px;
					}
				}

			}
			.dropdown-arrow{
				border-color: transparent transparent @price-color transparent;
			}
			.dropdown-menu{
				background: @price-color;
				color: white;
				width: 100%;
				li{
					padding: 5px 10px;
    				border-bottom: 1px solid mix(@price-color, white, 50%);
    				cursor: pointer;
    				text-align: right;
    				.transition(.25s);
    				@media (max-width:  @screen-xs-max) {
			            text-align: left;
			        }
    				&:first-of-type{
    					border-top-left-radius: 5px;
    					border-top-right-radius: 5px;
    				}
    				&:last-of-type{
    					border-bottom-left-radius: 5px;
    					border-bottom-right-radius: 5px;
    				}
    				&:hover{
    					background: mix(@price-color, white, 85%);
    				}
    				.p{
    					font-weight: bold;
    				}
    				.description{
    					font-size: 14px;
    				}
				}
			}
			
			.text-center-xs{
				@media (max-width:  @screen-xs-max) {
		            text-align: center;
		        }
		 	}

		 }
	 	.options{
	 		svg{
	 			fill:@brand-secondary;
	 		}
	 	}
	 	.program{
	 		.day{
	 			.title{

	 			}
	 			.text{

	 			}
	 		}
	 	}
	}

	.show-phone{
		border-bottom: 1px dotted @brand-secondary;
		margin-top:-5px;
		cursor: pointer;
	}
	.show-phone-action{
		cursor: pointer;
	}

	.modal{
		.btn-xl{
			margin-top: 10px;
			background: @brand-primary;
			padding:0.5em 1em;
			font-size: 24px;
			font-weight: bold;
			.transition(0.25s);
			&:hover{
				background: mix(@brand-primary, white, 85);
			}
		}

		.modal-footer{
			p{
				text-align: left;
				font-size: 14px;
				color: @brand-secondary;
			}
		}
	}
}