.page-home{
	.first-screen{
		height:500px;
		overflow: hidden;
		z-index: 1;
		@media (max-width:  @screen-sm-max) {
            height:600px;
        }

		@media (max-width:  @screen-xs-max) {
            height:950px;
        }
		
		.text{
			position: absolute;
			text-align: center;
			width: 100%;
			h1{
				margin-top:80px;
				text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
				color: white;
				@media (max-width:  @screen-xs-max) {
		            font-size: 48px;
		        }
			}
			.type-block{
				margin-top:80px;
				> div{
					padding: 25px;
				}
				.type{
					background: rgba(255,255,255,0.7);
					border-radius: 5px;
					cursor: pointer;
					text-align: center;
					padding:30px 20px;
					h4{
						margin-top:10px;
						margin-bottom: 0;
						color: @brand-primary;
						font-size:22px;
						@media (max-width:  @screen-xs-max) {
				            font-size: 18px;
				        }
					}
					svg{
						fill:@brand-primary;
						width:50%;
						
					}
				}
			}
		}
		img{
			
			@media (max-width:  @screen-md-max) {
	            height:100%;
	        }
	        @media (min-width:  @screen-lg-min) {
	            width:100%;
	            height:100%;
	        }

	        vertical-align: middle;
			top:0;
			z-index: 0;
		}
	}
}