.Image-input {
    .image-wrapper {
        
        width: 280px;
        height: 210px;

        flex: 2.5;
        border-radius: 1px;
        
        overflow-y: hidden;
        border-radius: 1px;
        background: #eee;
        justify-content: center;
        align-items: center;

        &> .icon {
            color: #ccc;
            font-size: 50px;
            cursor: default;
        }

        .image {
            max-width: 100%;
            border-radius: 1px;
        }
    
    }
    .input-wrapper {
        overflow: hidden;
        position: relative;
        margin-top:10px;
        float: left;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .input {
            cursor: inherit;
            display: block;
            font-size: 999px;
            min-height: 100%;
            opacity: 0;
            position: absolute;
            right: 0;
            text-align: right;
            top: 0;
            cursor: pointer;
        }
               
    }
    
}

.admin-tours{
    .form{
        .form-group{
            .control-label{
                &.big{
                    font-size: 140%;
                    line-height: 1.1;
                    font-weight: bold;
                }
            }
            &.big{
                .control-label{
                    font-size: 140%;
                    line-height: 1.1;
                    font-weight: bold;
                }
                .form-control{
                    font-size: 120%;
                    padding-top:6px;
                }
            }
            &.small{
                .control-label{
                    .small;
                }
                .form-control{
                    .input-sm;
                }

                .select2{
                    .select2-selection{
                        .input-sm;
                        .select2-selection__rendered{
                            line-height: @line-height-computed;
                            padding-left: 0;
                            padding-right: 0;
                        }
                        .select2-selection__arrow{
                            top: 4px;
                        }
                    }
                }

            }
            .select2{
                width: 100%;
                .select2-selection{
                    position: relative;
                    .form-control;
                    &.select2-selection--multiple{
                        
                        display: table;
                    }
                    .select2-selection__rendered{
                        line-height: @line-height-computed+4px;
                        padding-left: 0;
                        padding-right: 0;
                    }
                    .select2-selection__arrow{
                        top: 6px;
                        right: 8px;
                    }

                    
                }
            }
        }
    }
}
