//
// Layouts
//
// Styles specific to different page layouts.
//

@import "footer";
@import "seo_footer_text";

// Used by the fixed navigation
body {
    //padding-top: 50px;
    background-color: @brand-primary;
}

header#layout-header {
    .navbar-brand {
        
      
    }
    .navbar{
        margin-bottom:0;
    }
}

/*#layout-title {
    background-color: mix(@brand-primary, @inverse, 9%);
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}*/

#layout-title{
    background-color: #EEEF5F;
    padding-top: 20px;
    padding-bottom: 90px;
    margin-bottom: -60px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    z-index: 0;
}

#layout-content {
    background-color: @body-bg;
    a {
        text-decoration: none;
    }
    .jumbotron {
        padding-top: 56px;
        padding-bottom: 56px;
        margin-bottom: 0;
    }
    .panel-heading {
        a {
            color: @text-color;
            &:hover { color: @link-color; }
        }
    }
}

