@margin-footer: 900px;
.foot-layout{
	
	.footer-text {
	    position: absolute;
	    top: 100%;
	    
	    margin: 0 auto;
	    margin-top: 20px; 
	    margin-bottom: 20px;
	    text-align: left;
	    line-height: 18px;
	    max-height: auto;
	    overflow-x: hidden;
	    overflow-y: scroll;
	    padding-right: 5px;
	    vertical-align: top;
	    font-size:14px;
	    color: #666;
	    &.main{
	    	margin-top: -@margin-footer*1.05;
		    left: 0;
		    right: 0;
		    max-height: @margin-footer;
	    }
	    h1{font-size:32px;}
	    h2{font-size:26px;}
	    h3{font-size:22px;}
	    h4{font-size:18px;}
	    h5{font-size:16px;}
	    h6, p{font-size:14px;}
	}
}

.footer_text_margin{
	padding-bottom: @margin-footer*1.2;
}